div.ant-card-meta-description {
    color: rgb(180, 180, 180) !important;
}
div.ant-card-meta-title {
    color: rgba(255, 255, 255, 0.75) !important;
}

input {
    background-color: transparent !important;
    color: rgb(180, 180, 180) !important;
}

input::placeholder {
    color: rgb(80, 80, 80) !important;
}
